.post-excerpt-link {
  display: block;
  font-size: 16px;
  text-decoration: none;
}
.post-excerpt-link:hover {
    text-decoration: none;
}

.post-read-more-link {
    display: block;
    font-size: 14px;
    text-decoration: none;
}